torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

transformers==4.41.2
streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
requests==2.32.3
newsapi-python==0.2.7
beautifulsoup4==4.12.3
python-dotenv==1.0.1
plotly==5.22.0
sentencepiece==0.2.0
safetensors==0.4.3
accelerate==0.31.0
protobuf==4.25.3